ion-title {
    text-align: center;
}

ion-button{
    display: flex;
    justify-content: center;
}

ion-card-title.card-title{
    text-align: center;
}

ion-card-subtitle.card-subtitle{
    text-align: center;
}