<div>
  <h1>Login</h1>
  <!-- <ion-button color="">Primary</ion-button>
  <div id="container">
    <ion-button (click)="klik()">
      click
    </ion-button> -->
  <ion-list>

      <ion-input type="text"
      fill="outline"
      label="NIK"
      labelPlacement="floating"
      ngModel></ion-input>

      <ion-input type="text"
      fill="outline"
      label="NO WA"
      labelPlacement="floating"
      ngModel></ion-input>
      <ion-button class="login" (click)="masuk()" >
        Login
      </ion-button>
      
      <ion-button  class="register" fill="clear" (click)="registrasi()">Belum Punya Akun? Klik disini</ion-button>
      

    
  </ion-list>


</div>