ion-list{
    margin-top: 50%;
}

ion-item{
padding: 40px;
}


 ion-input {
    width: 300px;
    // margin: auto;
    margin-left: 30px;
    
    margin-top: 30px;
 }

 ion-button {
    margin-left: 130px;
    margin-top: 30px ;
 }

