<div>
  <h1>Registrasi</h1>

  <ion-list>

      <ion-input type="text"
      fill="outline"
      label="Nama"
      labelPlacement="floating"
      ngModel
      email ></ion-input>
      
      <ion-input type="number"
      fill="outline"
      label="NIK"
      labelPlacement="floating"
      ngModel
      email ></ion-input>

      <ion-input type="number"
      fill="outline"
      label="No WhatsApp"
      labelPlacement="floating"
      ngModel
      email ></ion-input>

      <ion-input type="password"
      fill="outline"
      label="Password"
      labelPlacement="floating"
      ngModel
      email ></ion-input>

      <ion-input type="password"
      fill="outline"
      label="Konfirmasi Password"
      labelPlacement="floating"
      ngModel
      email ></ion-input>

    <ion-button class="reg" color="">Register</ion-button>
   
    <ion-button  class="register" fill="clear" >Sudah Punya Akun? Klik disini</ion-button>
  </ion-list>
</div>