div{
   background-color: black;
}

ion-list{
    margin-top: 20%;
    background-color: salmon;
    width: 90%;
    margin-left: 19px ;
    height: 580px;
    border-radius: 7%;
    margin-bottom: 210px;
    box-shadow: 0px 0px 0px 4px rgba(0,0,0,0.1);
    background-color: rgb(46, 45, 45);
    
}

ion-item{
padding: 40px;
}


 ion-input {
    width: 300px;
    // margin: auto;
    margin-left: 30px;
    
    margin-top: 30px;
 }

 ion-button.reg {
    margin-left: 120px;
    margin-top: 30px ;
    
    margin-bottom: 120px;
 }

h1 {
   position: absolute;
   margin-left: 140px ;
   margin-top: 40px;
}

ion-button.register{
   position: relative;
   top: -110px ;
   left: 50px;
   bottom: 130px;
   font-size: 15px;
   color: white;
}