<div>
  <h1>Registrasi</h1>

  <ion-list>

      <ion-input type="text"
      fill="outline"
      label="Nama"
      labelPlacement="floating"
      ngModel
      email ></ion-input>
      
      <ion-input type="number"
      fill="outline"
      label="NIK"
      labelPlacement="floating"
      ngModel
      email ></ion-input>

      <ion-input type="number"
      fill="outline"
      label="No WhatsApp"
      labelPlacement="floating"
      ngModel
      email ></ion-input>

      <ion-input type="email"
      fill="outline"
      label="Email"
      labelPlacement="floating"
      
      errorText="Invalid email"
      ngModel
      email ></ion-input>
    
     



    <ion-button color="">Register</ion-button>
  </ion-list>
</div>