div{
   background-color: rgb(97, 97, 224);
}

ion-list{
    margin-top: 30%;
    background-color: salmon;
    width: 90%;
    margin-left: 17px ;
    height: 650px;
    border-radius: 7%;
    margin-bottom: 210px;
    box-shadow: 0px 0px 0px 4px rgba(0,0,0,0.1);
    background-color: darkblue;
}

ion-item{
padding: 40px;
}


 ion-input {
    width: 260px;
    // margin: auto;
    margin-left: 30px;
    
    margin-top: 30px;
 }

 ion-button {
    margin-left: 120px;
    margin-top: 30px ;
    
    margin-bottom: 120px;
 }

h1 {
   position: absolute;
   margin-left: 120px ;
}