<ion-list>

    <ion-input type="text"
    fill="outline"
    label="Nama"
    labelPlacement="floating"
    helperText="Masukan Nama Lengkap"
    errorText="Invalid Nama"
    ngModel
    email ></ion-input>
    
    <ion-input type="number"
    fill="outline"
    label="NIK"
    labelPlacement="floating"
    helperText="Masukan NIK"
    errorText="Invalid NIK"
    ngModel
    email ></ion-input>

    <ion-input type="number"
    fill="outline"
    label="No WhatsApp"
    labelPlacement="floating"
    helperText="Masukan Nomor WhatsApp"
    errorText="Invalid NO WA"
    ngModel
    email ></ion-input>

    <ion-input type="email"
    fill="outline"
    label="Email"
    labelPlacement="floating"
    helperText="Masukan Email"
    errorText="Invalid email"
    ngModel
    email ></ion-input>



  <ion-button color="">Primary</ion-button>
</ion-list>

<!-- 
<ion-input label="Solid input" label-placement="floating" fill="solid" placeholder="Enter text">Nama</ion-input>

<ion-input label="Outline input" label-placement="floating" fill="outline" placeholder="Enter text"></ion-input> -->